#form {
  background-color: gray;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 90%;
  height: 90%;
}

.input {
  background-color: white;
  border-radius: 4px;
}

.formSection {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

#title {
  font-size: 2.81em;
  text-align: center;
  padding-bottom: 25px;
}

#button {
  background-color: white;
  width: 100px;
  height: 50px;
  align-self: center;
  margin-bottom: 5px;
  margin-top: 25px;
  border-radius: 4px;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.errorMessage {
  align-self: flex-end;
  padding-right: 10px;
}

@media (min-width: 769px) {
  #form {
    width: 740px;
    gap: 40px;
  }
  #title {
    font-size: 3.81em;
  }
}
