.inputBox {
	background-color: lightgray;
	padding: 0 10%;
}

.input {
	background-color: white;
	border: 1px solid black;
	border-radius: 0.25em;
}

.submitButton {
	border: 1px solid black;
	border-radius: 2px;
	margin-left: auto;
	padding: 0 5px;
}

.submitButton:disabled {
	border: 1px solid rgb(121, 121, 121);
	border-radius: 2px;
	margin-left: auto;
	padding: 0 5px;
	color: rgb(121, 121, 121);
}

.inputLabel {
	display: flex;
	justify-content: space-between;
}

.radioBox {
	display: flex;
	justify-content: space-between;
}

.transactionContainer {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 40rem;
}
