.balanceContainer {
    min-height: 800px;
    padding: 50px 20px;
}

.balanceCard {
    max-width: 600px;
    height: 90%;
    min-height: 500px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 3rem;
    background: grey;
}

.balanceList {
    border: 1px solid black;
    padding: 40px;
    color: black;
    background: white;
    margin-bottom: 2rem;
}

.balanceItem {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    background: white;
}

.balanceItem h2 {
    font-size: 24px;
}

.title {
    text-align: center;
    padding-bottom: 1.5rem;
    font-weight: 600;
    font-size: 36px;
}

.text {
    text-align: center;
    color: black;
}
